{{#if dogs.length}}
<div class="dog-list">
    <div>
        Dog Cards
        <br></br>
        {{#each dogs as |dog|}}
        <div>
            <a style="text-decoration: none" href="profile/dog/{{dog.id}}">
                <img height="32px" src="/images/default-dog.png" alt="Dog Profile icon">
            </a>
            {{dog.name}}
            {{dog.age}}
            {{dog.breed}}
            {{dog.gender}}
        </div>
        <div class="col-md-4">
            <button class="delete-dog-btn btn btn-sm btn-danger" data-id="{{dog.id}}">DELETE</button>
            <br></br>
            {{!-- <button onclick="showNewDogForm()" type="submit" data-id="{{dog.id}}">Edit {{dog.name}}'s information</button> --}}

            {{!-- TO DO: ADD AN EDIT BUTTON HERE THAT WILL OPEN THE EDIT-DOG FORM! --}}

        </div>
        <br></br>
        {{/each}}
    </div>
    {{/if}}
</div>