{{!-- {{#if events.length}} --}}
<div>
    <div class="event-card-container event-list flex-wrap">
        {{#each events as |event|}}
        <div class="card event-cards">
            <div class="d-flex flex-column justify-content-end">
                <img class="card-img-top" src="{{pic_hyperlink}}" alt="Event icon" height="300px;">
                <h5 class="event-name card-title pl-3 pr-2 mb-auto ">{{event.name}}</h5>
            </div>
            <div id="dog-card-body" class="card-body mt-1 d-flex flex-column justify-content-start">
                <p class="event-locationName card-subtitle  mb-2">At {{location_name}}</p>
                <p class="event-location_zip card-subtitle">ZIP Code: {{location_zip}}</p>
                <p class="event-date card-subtitle mb-2">Date: {{event.date}}</p>
                <p class="event-time card-subtitle">Time: {{time}}</p>
                <p class="event-description card-text overflow-hidden">{{event.description}}</p>
            </div>
            <div class="buttons event-buttons d-flex flex-column justify-content-end">
                <a class="event-anchor" style="text-decoration: none" href="events/{{event.id}}">
                    <button class="edit-event-btn edit-event-btn btn-sm btn-danger"> View Details </button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{!-- {{/if}} --}}
