<div>
    Meet the owner!
    Hi, I'm {{username}}, also known as {{first_name}} {{last_name}}. I am a 25 year old {{gender}} who lives in
    {{location_zip}}.
    <br>
</div>
I am so random lol {{description}}.
</div>

<button>Update Profile</button>

<button>Delete Profile</button>