<div class="d-flex flex-row justify-content-center align-items-center">

    <div class="d-flex flex-row justify-content-center align-items-center p-3 owner-card">

        <div class="card owner-card p-4">
            {{!-- no-gutters gets rid of grid gutters --}}
            <div class="row no-gutters">
                <div class="col-md-5 d-flex justify-content-center align-items-center">
                    <img src="{{pic_hyperlink}}" class="card-img" alt="Pic of {{username}}">
                </div>
                <div class="col-md-7">
                    <div class="card-body owner-information">
                        <p class="card-title">{{username}}</p>
                        <p class="card-text">My Name is {{first_name}} {{last_name}}</p>
                        <p class="card-text">{{gender}}</p>
                        <p class="card-text">Located in {{location_zip}}</p>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>