<div>
    DogCards
    <br></br>
    {{name}}
    {{age}}
    {{breed}}
    {{gender}}
    <br></br>

    <button>Delete Dog</button>

    <button onclick="showNewDogForm()" type="submit" data-id="{{dog.id}}">Edit Dog Info</button>
    <br><br>
    
</div>

{{!-- add edit dog form --}}

<div class="card">
    <h3 class="card-header"> Edit {{dog.name}}'s Information</h3>
    <form class="card-body edit-dog-form">
        <label for="dog.name" class="form-label">Dog Name</label>
        <input id="editdog-name" name="dog.name" type="text" value="{{dog.name}}" class="form-input" />

        <label for="dog.age" class="form-label">Dog Age</label>
        <input id="editdog-age" name="dog.age" type="text" value="{{dog.age}}" class="form-input" />
        
        <label for="dog.breed" class="form-label">Dog Breed</label>
        <input id="editdog-breed" name="dog.breed" type="text" value="{{dog.breed}}" class="form-input" />

        <label for="dog.gender" class="form-label">Dog Gender</label>
        <input id="editdog-gender" name="dog.gender" type="text" value="{{dog.gender}}" class="form-input" />     
    <button id="submitEdit-btn" onclick="hideEditDogForm()" type="submit">Submit</button>

    </form>
</div>