{{!-- EDIT DOGS --}}

<div class="d-flex flex-row justify-content-center p-3">

    <div class="card dog-{{id}}-card p-3">
        {{!-- no-gutters gets rid of grid gutters --}}
        <div class="row no-gutters">
            <div class="col-md-5 d-flex justify-content-center align-items-center">
                <img src="{{pic_hyperlink}}" class="card-img" alt="Pic of {{name}}">
            </div>
            <div class="col-md-7">
                <div class="card-body dog-information">
                    <p class="card-title">{{name}}</p>
                    {{#if (format_age_years age) includeZero = false}}
                    <p class="card-text">{{format_age_years age}} years</p>

                    {{else}}
                    <p class="card-text">{{format_age_months age}} months</p>

                    {{/if}}
                    {{!-- <p class="card-text">{{format_age_months age}} months</p> --}}

                    <p class="card-text">{{gender}}</p>
                    <p class="card-text">{{breed}}</p>
                    <button id="editFromDogSummary" class="btn" onclick="editFromDogSummary()" type="submit"> Edit
                        {{name}} </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- {{#if ownsDog}} --}}
<div id="dogEditCard" class="card" style="display: none;">
    {{>uploadDog}}
    <div class="edit-dog-form card-body" style="display: block;">
        <h3 class="card-header"> Edit {{name}}'s Information</h3>
        <form id="dogProfileForm">
            <div class="input-box">
                <input id="editdog-name" name="dog.name" type="text" value="{{name}}" class="form-input" required>
                <label for="dog.name" class="form-label">{{name}}'s Name</label>
                <div class="no-dog-name-msg invalid-msg d-none">
                    Add your dog's name
                </div>
            </div>


            <div class="d-flex flex-row align-items-center">
                <div class="input-box-half">
                    <input id="editdog-age" name="dog.age" type="number" value="{{format_age_years age}}"
                        class="form-input" required>
                    <label for="dog.age" class="form-label">{{name}}'s Age in Years</label>
                    <div class="no-dog-age-msg invalid-msg d-none">
                        Add your dog's age
                    </div>
                    <div class="max-dog-age-msg invalid-msg d-none">
                        Check dog's age
                    </div>
                </div>

                <div class="input-box-half">
                    <input id="editdog-age-months" name="dog.age-months" type="number" value="{{format_age_months age}}"
                        class="form-input" required>
                    <label for="dog.age-months" class="form-label">{{name}}'s Age in Months</label>
                    <div class="no-dog-age-months-msg invalid-msg d-none">
                        Add your dog's age
                    </div>
                    <div class="max-dog-age-months-msg invalid-msg d-none">
                        Check dog's age
                    </div>
                </div>
            </div>

            <div class="input-box">
                <input id="editdog-breed" name="dog.breed" type="text" value="{{breed}}" class="form-input" required>
                <label for="dog.breed" class="form-label">{{name}}'s Breed</label>
                <div class="no-dog-breed-msg invalid-msg d-none">
                    Add your dog's breed
                </div>
            </div>

            <div class="input-box-gender-quarter">
                <select id="editdog-gender" name="dog.gender" class="form-input" required>
                    {{!-- Set the value for the instruction to current gender if user does not make a change to
                    gender
                    --}}
                    <option value="{{gender}}" selected disabled hidden>Select an option</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
                <label for="dog.gender" class="form-label">{{name}}'s Gender</label>
            </div>
        </form>
        <button id="submitEdit-btn" class="btn mt-3" type="submit">Submit Change to {{name}}'s Profile</button>
        <br> <br>
        <button id="back-btn" class="btn" onclick="backEditDogForm()" type="submit"> Go Back To Profile </button>

    </div>
</div>
{{!-- {{/if}} --}}

<script src="/js/edit-dog.js"></script>