<div class="d-flex flex-row justify-content-center p-3">

    <div class="card dog-{{id}}-card p-3">
        {{!-- no-gutters gets rid of grid gutters --}}
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="/images/default-dog.png" class="card-img" alt="Pic of {{name}}">
            </div>
            <div class="col-md-7">
                <div class="card-body dog-information">
                    <p class="card-title">{{name}}</p>
                    <p class="card-text">{{age}}</p>
                    <p class="card-text">{{gender}}</p>
                    <p class="card-text">{{breed}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- NOTE 1.2: See edit-dog.js file for detailed note. Keeping below in case we change our minds --}}
{{!-- <button onclick="showEditDogForm()" class="btn" type="submit" data-id="{{id}}">Edit Dog Info</button> --}}

<div class="card">
    <div class="edit-dog-form card-body" style="display: block;">
        <h3 class="card-header"> Edit {{name}}'s Information</h3>
        <form>
            <div class="input-box">
                <input id="editdog-name" name="dog.name" type="text" value="{{name}}" class="form-input" />
                <label for="dog.name" class="form-label">{{name}}'s Name</label>
            </div>

            <div class="input-box">
                <input id="editdog-age" name="dog.age" type="text" value="{{age}}" class="form-input" />
                <label for="dog.age" class="form-label">{{name}}'s Age</label>
            </div>

            <div class="input-box">
                <input id="editdog-breed" name="dog.breed" type="text" value="{{breed}}" class="form-input" />
                <label for="dog.breed" class="form-label">{{name}}'s Breed</label>
            </div>

            <div class="input-box-gender-quarter">
                <select id="editdog-gender" name="dog.gender" class="form-input" />
                <option value="female">Female</option>
                <option value="male">Male</option>
                </select>
                <label for="dog.gender" class="form-label">{{name}}'s Gender</label>
            </div>
        </form>
        {{!-- See note 1.2 above --}}
        {{!-- <button id="submitEdit-btn" class="btn mt-3" onclick="hideEditDogForm()" type="submit">Submit</button> --}}
        <button id="submitEdit-btn" class="btn mt-3" type="submit">Submit</button>

    </div>
</div>

<script src="/js/edit-dog.js"></script>