{{!-- PAGE FOR VIEWING A SINGLE EVENT
If owned by user, allow edit; otherwise, view public info --}}

<div class="d-flex flex-row justify-content-center p-3">
    <div class="card event-{{id}}-card p-3">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="{{pic_hyperlink}}" class="card-img" alt="Pic of {{name}}">
            </div>
            <div class="col-md-7">
                <div class="card-body event-information">
                    <p class="card-title">{{name}}</p>
                    <p class="card-text">Location: {{location_zip}}</p>
                    <p class="card-text">Description: {{description}}</p>
                    <p class="card-text">Date: {{format_date start_date}}-{{format_date end_date}}</p>
                    <p class="card-text">Time: {{time}}</p>
                    <button id="editFromSummary" class="btn" onclick="editFromSummary()" type="submit"> Edit Event
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{>addcomment}}

{{>comment}}

{{#if ownsEvent}}
<div id="eventEditCard" class="card" style="display: none;">
    {{>uploadEvent}}
    <div class="edit-event-form card-body" style="display: block;">
        <h3 class="card-header"> Edit Event: {{name}}</h3>
        <form>
            <div class="input-box">
                <input id="editevent-name" name="event.name" type="text" value="{{name}}" class="form-input">
                <label for="event.name" class="form-label">Name:</label>
                <div class="no-name-msg invalid-msg d-none">
                    Add your event's name
                </div>
            </div>

            <div class="input-box">
                <input id="editevent-location_zip" name="event.location_zip" type="number" value="{{location_zip}}"
                    class="form-input">
                <label for="event.location_zip" class="form-label">Location zip code:</label>
                <div class="no-zipcode-msg invalid-msg d-none">
                    Add your event's zip code
                </div>
                <div class="zipcode-length-msg invalid-msg d-none">
                    Zip codes must be 5 digits long
                </div>
            </div>

            <div class="input-box">
                <input id="editevent-description" name="event.description" type="text" rows="6" value="{{description}}"
                    class="form-input">
                <label for="event.description" class="form-label">Description:</label>
                <div class="no-description-msg invalid-msg d-none">
                    Tell us about the event!
                </div>
            </div>

            <div class="input-box">
                <input id="editEventStart_datePickerId" class="staDate editevent-start_date" name="event.start_date"
                    type="text" value="{{format_date start_date}}" placeholder="{{format_date start_date}}"
                    onfocus="(this.type='date')" class="form-input">
                <label for="event.start_date" class="form-label">Start Date:</label>
                <div class="no-startdate-msg invalid-msg d-none">
                    Select a start date
                </div>
            </div>


            <div class="input-box">
                <input id="editEventEnd_datePickerId" class="enDate editevent-end_date" name="event.end_date"
                    type="text" value="{{format_date end_date}}" placeholder="{{end_date}}" onfocus="(this.type='date')"
                    class="form-input">
                <label for="event.end_date" class="form-label">End Date:</label>
                <div class="no-enddate-msg invalid-msg d-none">
                    Select a end date
                </div>
            </div>

            <div class="input-box">
                <input id="editevent-time" name="event.time" type="text" value="{{time}}" class="form-input">
                <label for="event.time" class="form-label">Time:</label>
                {{!-- Note for Claire: for validations code below --}}
                {{!-- <div class=""> --}}
                    {{!-- Add your event's time --}}
                    {{!-- </div> --}}
            </div>

        </form>

        <button id="submitEventEdit-btn" class="btn mt-3" type="submit">Submit Change to {{name}}</button>
        <br> <br>
        <button id="back-btn" class="btn" onclick="backEditEventForm()" type="submit"> Go Back To Profile </button>

    </div>
</div>
{{/if}}

<script src="/js/edit-event.js"></script>

{{!-- Add and delete comments --}}
<script src="/js/eventpg-comment.js"></script>