{{!-- PAGE FOR VIEWING A SINGLE EVENT
If owned by user, allow edit; otherwise, view public info --}}

<div class="d-flex flex-row justify-content-center p-3">
    <div class="card event-{{id}}-card p-3">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="{{pic_hyperlink}}" class="card-img" alt="Pic of {{name}}">
            </div>
            <div class="col-md-7">
                <div class="card-body event-information">
                    <p class="card-title">{{name}}</p>
                    <p class="card-text">{{location_zip}}</p>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">{{format_date start_date}}-{{format_date end_date}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if ownsEvent}}
{{>uploadEvent}}

{{!-- Edit Event Card --}}
{{!-- NOTE 1.2: See edit-event.js file for detailed note. Keeping below in case we change our minds --}}
{{!-- <button onclick="showEditeventForm()" class="btn" type="submit" data-id="{{id}}">Edit event Info</button> --}}

<div class="card">
    <div class="edit-event-form card-body" style="display: block;">
        <h3 class="card-header"> Edit Event: {{name}}</h3>

        <form>
            <div class="input-box"> 
                <input id="editevent-name" name="event.name" type="text" value="{{name}}" class="form-input">
                <label for="event.name" class="form-label">Name: {{name}}</label>
            </div>

            <div class="input-box">
                <input id="editevent-location_zip" name="event.location_zip" type="number" value="{{location_zip}}"
                    class="form-input">
                <label for="event.location_zip" class="form-label">Location zip code: {{location_zip}}</label>
            </div>

            <div class="input-box">
                <input id="editevent-description" name="event.description" type="text" rows="6" value="{{description}}"
                    class="form-input">
                <label for="event.description" class="form-label">Description: {{description}}</label>
            </div>

            <div class="input-box">
                <input id="editEventStart_datePickerId" class="editevent-start_date" name="event.start_date" type="text"
                    value="{{format_date start_date}}" placeholder="{{format_date start_date}}" onfocus="(this.type='date')" class="form-input">
                <label for="event.start_date" class="form-label">Start Date: {{format_date start_date}}</label>
            </div>
            

            <div class="input-box">
                <input id="editEventEnd_datePickerId" class="editevent-end_date" name="event.end_date" type="text"
                    value="{{format_date end_date}}" placeholder="{{end_date}}" onfocus="(this.type='date')" class="form-input">
                <label for="event.end_date" class="form-label">End Date: {{format_date end_date}}</label>
            </div>

        </form>
        {{!-- See note 1.2 above --}}
        {{!-- <button id="submitEdit-btn" class="btn mt-3" onclick="hideEditeventForm()" type="submit">Submit</button>
        --}}
        <button id="submitEventEdit-btn" class="btn mt-3" type="submit">Submit Change to {{name}}</button>
        <br> <br>
        <button id="back-btn" class="btn" onclick="backEditEventForm()" type="submit"> Go Back To Profile </button>

    </div>
</div>
{{/if}}

<script src="/js/edit-event.js"></script>