{{!-- HOMEPAGE --}}
{{!-- <div class="d-flex flex-column">
    <div>
        <h2>Recommended Parks</h2>
        <section class="recc-parks">

        </section>
    </div>


    <div>
        <h2>Events</h2>
        {{#if logged_in}}
        <a href="/#"><button class="btn">New Event</button></a>
        {{/if}}
        <section class="current-events">
            {{>eventcard}}
        </section>
    </div>

    {{#unless logged_in}}
    <div>
        <h2 class="text-center">
            Set up your account today!
        </h2>

        <a href="/signup"><button class="btn">Get Started</button></a>
    </div>
    {{/unless}}
</div> --}}

{{!-- All comments template --}}
<div class="d-flex flex-column comments"><!--the container for all the comments should be in column form-->
    {{!-- {{#if comments.length}} --}}
    {{!-- {{#each comments as |comment|}} --}}

    {{!-- header --}}
    <div class="d-block mt-3">
        <div class="comment-header d-flex flex-row align-items-baseline justify-content-between pt-1">
            <h5 class="ps-2">{{comment.user.username}}</h5>
            <h5 class="pe-2">
                created on {{comment.createdAt}}
            </h5>
        </div>

        {{!-- body --}}
        <div class="comment-main">
            <p class="comment-body pt-1 ps-2">
                {{comment.body}}
            </p>
            <div class="d-flex justify-content-end">
                <button data-id={{comment.id}} class="edit-comment-button pb-1 ps-2 mb-1 me-1">
                    <img id="edit-comment" src="/images/edit-Freepik-32px.png" alt="Edit icon">
                </button>
            </div>
        </div>
    </div>
    {{!-- {{/each}}

    {{else}}
    <h2 class="text-center">No comments</h2>
    {{/if}} --}}

</div>